* {
    box-sizing: border-box;
}

body {
    background-color: #40407A;
    color: #40407A;
    font-family: Verdana, Arial, sans-serif;
    max-width: 1600px;
    min-width: 900px;
    margin: 0;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
    padding: 2em;
}

header {
    margin-top: 50px;
    background-color: #40407A;
    color: #FFFFFF;
    background-image: url(img/sunrise.jpg);
    background-size: 100% 100%;
}

.home {
    height: 50vh;
    padding-top: 6em;
    padding-left: 8em;
    font-size: 120%;
    min-height: 300px;
}

.content {
    height: 250px;
    padding-top: 2em;
    padding-left: 8em;
    padding-bottom: 2em;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;

    text-align: right;
    background-color: white;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-right: 2em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-right: 2em;
    font-size: 1.2em;
}

nav li {
    display: inline;
    padding-left: 2em;
}

nav a:link {
    color: #3F2860;
}

nav a:visited {
    color: #497777;
}

nav a:hover {
    color: #A26100;
    text-decoration: underline;
}

header a {
    text-decoration: none;
}

header a:link,
header a:visited {
    color: #FFFFFF;
}

header a:hover {
    color: #EDF5F5;
}

footer {
    font-size: small;
    font-style: italic;
    text-align: center;
    clear: right;
}

.onethird {
    float: left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}

.onehalf {
    float: left;
    width: 50%;
    padding-left: 2em;
    padding-right: 2em;
}

#mathero {
    height: 300px;
    background-image: url(img/yogamat.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clear: both;
}

#loungehero {
    height: 300px;
    background-image: url(img/yogalounge.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clear: both;
}

h2 {
    margin: 0;
}

li, dd {
    font-size: 90%;
}